In [2]:
import pandas as pd
import datetime

In [3]:
cd desktop/ibmhc/project/data

C:\Users\91728\desktop\ibmhc\project\data

In [4]:
pwd

'C:\\Users\\91728\\desktop\\ibmhc\\project\\data'

In [536]:
cols = ['date', 'tot', 'pos', 'neg', 'neut', 'avg']
df_day = pd.DataFrame(columns = cols, index=None)

df_day.to_csv("day_wise.csv", index=None)

In [537]:
col_new = ['date', 'tid']
df_tweets = pd.DataFrame(columns = col_new, index=None)

df_tweets.to_csv('tweets_pid.csv', index=None)
df_tweets.to_csv('tweets_nid.csv', index=None)

In [110]:
path = r'datasets/corona_tweets_116.zip'
df = pd.read_csv(path, names = ['tid', 'sent'])
df.dropna()

                         tid      sent
0        1282169216280358912 -0.262500
1        1282169216259391490  0.000000
2        1282169216339238912  0.000000
3        1282169216016277504  0.000000
4        1282169216674586624 -0.125000
...                      ...       ...
3902388  1282531437716152320  0.000000
3902389  1282531437741318146  0.000000
3902390  1282531437892169728  0.000000
3902391  1282531437925851141 -0.300000
3902392  1282531438026346502 -0.035714

[3902393 rows x 2 columns]

In [111]:
df.insert(0, 'date', '07.12.2020')
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].dt.date

In [112]:
#cols = ['date', 'tot', 'pos', 'neg', 'neut', 'avg']
#df_day = pd.DataFrame(columns = cols, index=None)

fname = 'day_wise.csv'
df_day = pd.read_csv(fname)

In [113]:
avg = df.sent.mean()
tot = df.sent.count()
pos = df.query('sent>=0.2').sent.count()
neg = df.query('sent<=-0.2').sent.count()
neut = tot-(pos+neg)
date = df.iloc[0]['date']

In [114]:
temp = {'date': date,
       'tot': tot,
       'avg': avg,
       'pos': pos,
       'neg': neg,
       'neut': neut,
        }
df_day = df_day.append(temp, ignore_index=True)

In [115]:
df_day.tail()

           date      tot     pos     neg     neut       avg
108  2020-07-08  4032945  862305  479956  2690684  0.040851
109  2020-07-09  3912560  824698  450517  2637345  0.038665
110  2020-07-10  4024227  864726  466334  2693167  0.044398
111  2020-07-11  3746316  875810  403853  2466653  0.052422
112  2020-07-12  3902393  923767  396257  2582369  0.056849

In [116]:
df_day.to_csv(fname, index=None)

In [117]:
#col_new = ['date', 'tid']
#df_tweets = pd.DataFrame(columns = col_new, index=None)

fnamepos = 'tweets_pid.csv'
fnameneg = 'tweets_nid.csv'
dfpos = pd.read_csv(fnamepos)
dfneg = pd.read_csv(fnameneg)

In [118]:
dfpos = df.nlargest(20, 'sent')
dfneg = df.nsmallest(20, 'sent')

In [119]:
dfpos = dfpos.drop(['sent'], axis=1)
dfneg = dfneg.drop(['sent'], axis=1)

In [120]:
dfpos.to_csv(fnamepos, mode='a', index=None, header=False)
dfneg.to_csv(fnameneg, mode='a', index=None, header=False)

In [121]:
fname = 'day_wise.csv'
df_day = pd.read_csv(fname)

In [122]:
df_day['p/n'] = df_day['pos']/df_day['neg']
df_day

           date      tot     pos     neg     neut       avg       p/n
0     3/21/2020  1233340  285733  195351   752256  0.027722  1.462665
1     3/22/2020  1782157  429789  273338  1079030  0.043513  1.572372
2     3/23/2020  1771295  335903  236651  1198741  0.020968  1.419402
3     3/24/2020  1479651  287335  196361   995955  0.025657  1.463300
4     3/25/2020  1272592  264651  176929   831012  0.032868  1.495803
..          ...      ...     ...     ...      ...       ...       ...
108  2020-07-08  4032945  862305  479956  2690684  0.040851  1.796633
109  2020-07-09  3912560  824698  450517  2637345  0.038665  1.830559
110  2020-07-10  4024227  864726  466334  2693167  0.044398  1.854306
111  2020-07-11  3746316  875810  403853  2466653  0.052422  2.168636
112  2020-07-12  3902393  923767  396257  2582369  0.056849  2.331232

[113 rows x 7 columns]

In [123]:
df_day.to_csv(fname, index=None)